{% extends 'layout.html.twig' %}
{% block title %}Contact{% endblock %}

{% block content %}

            <div class="row">
                <div class="col-lg-12">
                    <h1>Contactez notre service client</h1>
                </div>
            </div>
    
            <hr/>
    
            <div class="row">
                <div class="col-md-12">
                    <p class="lead">
                        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Donec ullamcorper nulla non metus auctor fringilla.
                    </p>
                </div>
            </div>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{  message}}
                </div>
            {% endfor %}

            {{ form_start(form) }}

            <div class="form-group">
                {{form_errors(form.firstname)}}
                {{form_label(form.firstname)}}
                {{form_widget(form.firstname, {'attr': {'class': 'form-control', 'placeholder': form.firstname.vars.label}})}}
            </div>

            <div class="form-group">
                {{form_errors(form.lastname)}}
                {{form_label(form.lastname)}}
                {{form_widget(form.lastname, {'attr': {'class': 'form-control', 'placeholder': form.lastname.vars.label}})}}
            </div>

            <div class="form-group">
                {{form_errors(form.email)}}
                {{form_label(form.email)}}
                {{form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': form.email.vars.label}})}}
            </div>

            <div class="form-group">
                {{form_errors(form.message)}}
                {{form_label(form.message)}}
                {{form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': form.message.vars.label}})}}
            </div>

            <button type="submit" class="btn btn-info">Envoyer</button>

            {{ form_end(form) }}

{% endblock %}